.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 0px;
    }

    hr {
        background-color: rgb(39, 68, 92);
        width: 80%;
    }
}

